<button id="{{ bound }}-time" data-time="" data-month="{{ time.month }}" data-year="{{ time.year }}" data-quarter="{{ time.quarter }}" 
	data-end-year="{{ default_end.year }}" data-end-month="{{ default_end.month }}"
	type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
</button>
<div class="dropdown-menu time-dropdown" aria-labelledby="{{ bound }}-time">
    {% include 'analysis/menu_search.html' %}
    <div class="scroller">
        {% for mr in month_range %}
            {% if not forloop.first and bound == 'end' or not forloop.last and bound == 'start' %}
                <a class="dropdown-item month" data-time="{{ mr.display }}" 
		   data-month="{{ mr.month }}" data-year="{{ mr.year }}" 
		   data-quarter="{{ mr.quarter }}" data-bound="{{bound}}"
                   href="#">{{ mr.display }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
