<div data-loc="loc-{{ location }}" data-strat="strat-{{strat_id}}">
    <div class="alert alert-danger collapse" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{ location_label }}</strong> has insufficient data.
    </div>
    <div class="card card-outline-primary">
        <div class="card-header bg-primary text-white"><h5><strong>{{ location_label }}</strong></h5></div>
        <div class="card-block">
            <div class="card-body">
		    <h5 class="card-title">Prevalence of the Selected Condition by <span class="strat-label-{{strat_id}}"></span></h5>
		        <div id="bar-{{ position }}" class="barchart"></div>
            </div>
        </div>
        <hr/>
        <div class="card-block">
            <div class="card-body">
		    <h5 class="card-title">Patients with the Selected Condition by <span class="strat-label-{{strat_id}}"></span></h5>
                <div id="pie-{{ position }}" class="piechart"></div>
            </div>
        </div>
    </div>
</div>
