<div class="modal {% if not drilldown %}fade{% endif %}" id="outcome-modal" tabindex="-1" role="dialog"
     data-backdrop='static' data-show='true' aria-hidden="false">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form id="select-form" action="{% if landing or map %}{% url 'map' %}{% else %}.{% endif %}"
                  method="post">{% csrf_token %}
                <input type="hidden" name="query" value="">
                <div class="modal-header">
                    <h4 class="modal-title pull-left" id="myModalLabel">Select map, condition, and inclusion criteria</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
		      <div class="row" >
                        <div>
                            <p><b>Map</b></p>
                            {{ geo_form.geo_area }}
                        </div>
		      </div>
                      <div id='state-county-zip-tract'>
                            {{ filter_form.county_zip_tract }}
		      </div>
		    </div>
                    <div class="container">
		      <div class="row" >
                        <div>
                    	    <p><b>Min Prevalence (optional)</b></p>
                            {{ filter_form.min_prevalence }}
			    <span id="min_prev_error" class="text-danger">
				    must be none or between 0 and 100.
			    </span>
                        </div>
		      </div>
		     
		      <div class="row" >
                        <div>
                    	    <p><b>Max Prevalence (optional)</b></p>
                            {{ filter_form.max_prevalence }}
			    <span id="max_prev_error" class="text-danger">
				    must be none or between 0 and 100.
			    </span>
                        </div>
		      </div>
		    </div>
                    <hr/>
                    <div class="container">
		      <div class="row" >
                        <div>
                    	    <p><b>Condition</b></p>
                            {{ outcome_form.condition }}
                        </div>
		    </div>
		    </div>
                    <hr/>
                    <div class="container">
		      <div class="row" >
                        <div>
                    	    <p><b>Estimate Type</b></p>
                            {{ filter_form.est_type }}
                        </div>
		      </div>
		    </div>
                    <hr/>
		    <div class="container" >
		      <div class="row" >
                        <p><b>Graph</b></p>
		      </div>
		      <div class="row" >
                    <div id='demographic'class="col-sx-6">
                        <div>
                            {{ filter_form.demographic }}
                        </div>
		    </div>

                    <div id='demographic-sex' class="col-xs-6">
                            {{ filter_form.sex }}
		    </div>
                    <div id='demographic-age_group' class="col-xs-6">
                            {{ filter_form.age_group }}
		    </div>
                    <div id='demographic-race' class="col-xs-6" >
                            {{ filter_form.race }}
		    </div>
                    <div id= 'demographic-primary_payer' class="col-xs-6" >
                            {{ filter_form.primary_payer }}
		    </div>
                    <div id='demographic-rural_urban' class="col-xs-6" >
                            {{ filter_form.rural_urban }}
		    </div>

		      </div>
		    </div>

                </div>
                <div class="modal-footer">
			<fieldset class="w-100" id='form-status'>
			{% if map %}
                        <input type="button" class="btn btn-primary btn-sm float-right" onclick="forwardForm('{% url 'map' %}');"
                               value="Map">
			{% elif current %}
                        <input type="button" class="btn btn-primary btn-sm float-right "
                               onclick="forwardForm('{% url 'current' %}');" value="Demographics">
			{% elif timeseries %}
                        <input type="button" class="btn btn-primary btn-sm float-right"
                               onclick="forwardForm('{% url 'timeseries' %}');" value="Timeseries">
			{% endif %}
			<button type="button" class="btn btn-secondary btn-sm float-right" data-dismiss="modal">Cancel</button>
			</fieldset>
                </div>
            </form>
        </div>
    </div>
</div>
