            <div id="graphable-toolbar" class="modal-body container">
		{% if timeseries or current %}
                <div class="row">
                    <div class="col-md-4">First Chart Location:</div>
                    <div class="col-md-8">
                        <button id="location-one" data-location="{{ data.0.location }}" type="button"
                                class="btn btn-sm btn-outline-primary dropdown-toggle location-button"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            {{ data.0.location_label }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="location-one">
                            {% include 'analysis/locations.html' with owner='location-one' %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">Second Chart Location:</div>
                    <div class="col-md-8">
                        <button id="location-two"
                                data-location="{% if data.0.location == data.1.location %}none{% else %}{{ data.1.location }}{% endif %}"
                                type="button"
                                class="btn btn-sm btn-outline-primary dropdown-toggle location-button"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            {% if data.0.location == data.1.location %} None {% else %}
                                {{ data.1.location_label }}
                            {% endif %}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="location-two">
                            {% include 'analysis/locations.html' with owner='location-two' %}
                        </div>
                    </div>
                </div>
		{% endif %}
                    <div class="row" id="time-interval">
                        <div class="col-md-4">Time Interval:</div>
                        <div class="col-md-8">
                            <button id="time-chunk" type="button"
                                    class="btn btn-sm btn-outline-primary dropdown-toggle"
                                    data-chunk="{{ chunked }}" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <span>{{ chunked|capfirst }}ly</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="time-chunk">
                                {% with 'month quarter year' as chunks %}
                                    {% for chunk in chunks.split %}
                                        <a class="dropdown-item"
                                           href="javascript:updateTimeChunk('{{ chunk|capfirst }}');">{{ chunk|capfirst }}ly</a>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    <div class="row" id="start-date">
                        <div class="col-md-4">Start Date:</div>
                        <div class="col-md-8">
                            {% if dynamic_start %}
                                {% with time=dynamic_start %}
                                    {% include 'analysis/bound-time.html' with bound="start" %}
                                {% endwith %}
                            {% else %}
                                {% with time=default_start %}
                                    {% include 'analysis/bound-time.html' with bound="start" %}
                                {% endwith %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row" id="end-date">
			{% if timeseries %}
                        <div class="col-md-4">End Date:</div>
			{% else %}
                        <div class="col-md-4">Month & Year:</div>
			{% endif %}
                        <div class="col-md-8">
                            {% if dynamic_end %}
                                {% with time=dynamic_end %}
                                    {% include 'analysis/bound-time.html' with bound="end" %}
                                {% endwith %}
                            {% else %}
                                {% with time=default_end %}
                                    {% include 'analysis/bound-time.html' with bound="end" %}
                                {% endwith %}
                            {% endif %}
                        </div>
                    </div>
        	</div>
