{% extends 'national_riskscape/app_base.html' %}
{% load static %}

{% block script %}
    {{ block.super }}
    <script nonce='jcRquZ2yV9' type='text/javascript'>
	var is_map = false;
	{% if map %}
	  var is_map = true;
	{% endif %}
	var is_current = false;
	{% if current %}
	  var is_current = true;
	{% endif %}
	var is_timeseries = false;
	{% if timeseries %}
	  var is_timeseries = true;
	{% endif %}

	$('a.dropdown-item.location').click(function(){
	    var owner = $(this).attr('data-owner');
	    var loc_name = $(this).attr('data-locname');
	    var loc_label = $(this).attr('data-loclabel');
	    updateLocation(owner, loc_name, loc_label);
	});
	$('a.dropdown-item.month').click(function(){
	    var bound = $(this).attr('data-bound') + '-time';
	    updateTimeBound(bound, $(this));
	});
        $('.menu-search').on('input', function () {
            var choices = $(this).parents('.dropdown-menu').find('a');
            choices.show();
            var match = $(this).val();
            choices.each(function () {
                if (!$(this).html().toLowerCase().includes(match.toLowerCase())) {
                    $(this).hide();
                }
            })
        });
        $('.dropdown-menu').parent().on('hidden.bs.dropdown', function () {
            $(this).find('.dropdown-menu a').show();
            $(this).find('.dropdown-menu input').val('');
        });
        $('.dropdown-menu').parent().on('shown.bs.dropdown', function () {
            $(this).find('.dropdown-menu input').focus();
        });
        $('.time-dropdown').parent().on('shown.bs.dropdown', function () {
            $(this).find('.dropdown-menu a').show();
            $('.time-dropdown .dropdown-item:not(.' + $("#time-chunk").attr("data-chunk") + ')').hide();
            var sdt = $('#start-time').attr('data-time');
            $('#end-time').parent().find('a[data-time="' + sdt + '"]').hide().prevAll().hide();
            var edt = $('#end-time').attr('data-time');
            $('#start-time').parent().find('a[data-time="' + edt + '"]').hide().nextAll().hide()
        });
	const monthNames = ["","January","February","March","April","May","June",
		    "July","August","September","October","November","December"];

	function capFirst(string) {
  	  return string.charAt(0).toUpperCase() + string.slice(1);
	}
	function page_title (page, national) {
	    var condition = $('#id_outcome-form-condition option:selected').text();
	    var geo_area = $('#id_geo_area option:selected').text();
	    var demographic_text =  $("#id_filter-form-demographic option:selected").text();
	    var demographic_item =  $("#id_filter-form-demographic").val();
	    var demographic_item_id = '#id_filter-form-' + demographic_item;
	    var demographic_item_text = $(demographic_item_id + " option:selected").text();
	    var month_n = parseInt($("#end-time").attr("data-month"));
	    var month = monthNames[month_n];
	    var year = $("#end-time").attr("data-year");
	    var month_year = month + ' ' + year;
	    var county_zip_tract = "{{county_zip_tract}}";
	    var czt_text = '';
	    if (national){
              czt_text = '';
            } else if (county_zip_tract == 'zip'){
	      czt_text = '<br> & Zip Codes'
	    } else if (county_zip_tract == 'county'){
	      czt_text = '<br> & Counties'
	    } else if (county_zip_tract == 'tract'){
              czt_text = '<br> & Census Tracts'
            }
	    var title = '';
	    if (page == 'map'){
	      title = condition + ' for Modeled ' + geo_area + ' ' 
			+ capFirst(demographic_item_text) + ' (' + demographic_text + ')' 
			+ ' Population ' + czt_text 
			+ '<br>' + month_year;
	    } else if (page == 'current'){
	      title = condition + ' for Modeled ' + geo_area + ' ' 
			+ ' Population ' + czt_text 
			+  ' by ' + demographic_text 
			+ '<br>' + month_year;
	    } else if (page == 'timeseries'){
	      title = condition + ' for Modeled ' + geo_area + ' ' 
			+ ' Population ' + czt_text 
			+  ' by ' + demographic_text 
	    }
	    return title;
	}
	function hideDemographics(){
	    $('#demographic-sex').hide();
	    $('#demographic-age_group').hide();
	    $('#demographic-race').hide();
	    $('#demographic-primary_payer').hide();
	    $('#demographic-rural_urban').hide();
	};
	function showNational(){
	    $('#id_filter-form-county_zip_tract_0').prop("checked", true);
	    $('#state-county-zip-tract').hide();
	    $("#id_filter-form-demographic option").removeAttr('disabled');
	    hideDemographics();
	    var demographic_val = $('#id_filter-form-demographic').val();
	    var demographic_id = '#demographic-' + demographic_val;
	    $(demographic_id).show();
	    if (demographic_val == 'overall') {
	        $('#demographic-value').hide();
	    } else if (demographic_val == null)	{
		$('#id_filter-form-demographic').val('overall');
	        $('#demographic-value').hide();
	    }
	    if (!is_map){
		    hideDemographics();
	    	    $('#min-max-prevalence').hide();
	    }
	}
	function showState(){
	    $('#state-county-zip-tract').show();
	    $("#id_filter-form-demographic option").removeAttr('disabled');
	    $("#id_filter-form-demographic option[value=sex]").attr('disabled','disabled');
	    $("#id_filter-form-demographic option[value=age_group]").attr('disabled','disabled');
	    $("#id_filter-form-demographic option[value=race]").attr('disabled','disabled');
	    $("#id_filter-form-demographic option[value=primary_payer]").attr('disabled','disabled');
	    hideDemographics();
	    var demographic_val = $('#id_filter-form-demographic').val();
	    var demographic_id = '#demographic-' + demographic_val;
	    $(demographic_id).show();
	    if (demographic_val == 'overall') {
	        $('#demographic-value').hide();
	    } else if (demographic_val == null ) {
		$('#id_filter-form-demographic').val('overall');
	        $('#demographic-value').hide();
	    }
	    if (!is_map){
		    hideDemographics();
	    	    $('#state-county-zip-tract').hide();
	    	    $('#min-max-prevalence').hide();
	    }
	}
	var is_national = true;
	if ($('#id_geo_area').val() != 'USA' ){
	    showState();
	    is_national = false;
	} else {
	    showNational();
	}
	if (is_map) {
	    $('#page-title').html(page_title('map',is_national));
	} else if (is_current){
	    $('#page-title').html(page_title('current',is_national));
	} else if (is_timeseries){
	    $('#page-title').html(page_title('timeseries',is_national));
	}
	// hide est type for now
	$('#est-type').hide();

	$('#id_filter-form-demographic').change(function() {    
    	    var item=$(this);
	    if (item.val() == 'overall') {
	        $('#demographic-value').hide();
	    } else {
		$('#demographic-value').show();
	    }
	    hideDemographics();
	    var demographic_id = '#demographic-' + item.val();
	    $(demographic_id).show();
	    if (!is_map){
		    hideDemographics();
	    }
	    
	});

	$('#id_geo_area').change(function(){
    	    var item=$(this);
	    var conf_geo_area = item.val();
            var geo_places = {{GEO_PLACES|safe}};
	    var place_geo_code = geo_places[conf_geo_area]['GEO_CODE'];
	    var place_geo_location = geo_places[conf_geo_area]['GEO_CODE'];
	    if (is_current){
	    updateLocation('location-one',place_geo_code,place_geo_location);
	    updateLocation('location-two','none','None');
	    forwardForm('{% url 'current' %}');
	    } else if (is_timeseries){
	    updateLocation('location-one',place_geo_code,place_geo_location);
	    updateLocation('location-two','none','None');
	    forwardForm('{% url 'timeseries' %}');
	    } else{
            	if (geo_places) {
		    place_geo_area = geo_places[conf_geo_area]['GEO_AREA'];
		    if (place_geo_area == 'statecode'){
			showNational();
		    } else { 
			showState();
		    }
                }
	    }
    	});
        function updateStrat(target, strat, stratname) {
	    let strat1 = (target == 'strat-group') ? strat: $('#strat-group').attr('data-stratify');
            $('#' + target).attr('data-stratify', strat);
            $('#' + target).find('span').html(stratname);
	    if ('{{timeseries}}' !== 'True' && (strat1 == 'none')){
            	$('#strat-group').attr('data-stratify', 'age_group');
            	$('#strat-group').find('span').html('Age');
	    }
            graphForwardForm();
        }
        function updateLocation(target, loc, locname) {
            $('#' + target).attr('data-location', loc);
            $('#' + target).html(locname);
            graphForwardForm();
        }
        function updateTimeChunk(chunk) {
            $('#time-chunk').attr('data-chunk', chunk.toLowerCase()).find('span').html(chunk + 'ly');
            $('button[data-time]').each(function () {
                var bid = $(this).attr('id');
                var match = $(this).parent().find('a.' + chunk.toLowerCase());
                var fmatch = null;
                if (chunk.toLowerCase() == "month") {
                    fmatch = match.filter('[data-month="' + $(this).attr('data-month') + '"][data-year="' + $(this).attr('data-year') + '"]');
                } else if (chunk.toLowerCase() == "quarter") {
                    fmatch = match.filter('[data-quarter="' + $(this).attr('data-quarter') + '"][data-year="' + $(this).attr('data-year') + '"]');
                } else if (chunk.toLowerCase() == "year") {
                    fmatch = match.filter('[data-year="' + $(this).attr('data-year') + '"]');
                }
                if (fmatch.length == 0) {
                    if (bid == "start-time") {
                        match = match[0];
                    } else if (bid == "end-time") {
                        if ($(this).attr('data-time') == '') {
                            match = match[match.length - 1];
                        } else {
                            match = match[0];
                        }
                    }
                } else {
                    match = fmatch;
                }
                updateTimeBound(bid, $(match));
            });
            graphForwardForm();
        }
        function updateTimeBound(target, item) {
            $('#' + target).attr('data-time', item.attr('data-time'))
                    .attr('data-month', item.attr('data-month'))
                    .attr('data-quarter', item.attr('data-quarter'))
                    .attr('data-year', item.attr('data-year'))
                    .html(item.attr('data-time'));
            var timeCrumb = $('#timebound-breadcrumb');
            if (target.includes('start')) {
                timeCrumb = timeCrumb.find('>span:first');
            } else {
                timeCrumb = timeCrumb.find('>span:last');
            }
            timeCrumb.html(item.attr('data-time'));
            graphForwardForm();
        }
        function decodeHtml(html) {
            var txt = document.createElement("textarea");
            txt.innerHTML = html;
            return txt.value;
        }
        function encodeHtml(value) {
            return $('<div/>').text(value).html();
        }
        function graphForwardForm() {
            var locString = $('#location-one').attr('data-location') + ",";
            if ($('#location-two').attr('data-location') != 'none') {
                locString += $('#location-two').attr('data-location');
            } else {
                locString += locString;
            }
            locString = '&locations=' + locString;
            var chunkString = $('#time-chunk').attr("data-chunk");
            if (chunkString !== undefined) {
                chunkString = "&chunked=" + chunkString;
            } else {
                chunkString = '';
            }
            var timeBounds = '';
            var st = $('#start-time');
            var et = $('#end-time');
            timeBounds += "&sbm=" + st.attr('data-month');
            timeBounds += "&sbq=" + st.attr('data-quarter');
            timeBounds += "&sby=" + st.attr('data-year');
            timeBounds += "&ebm=" + et.attr('data-month');
            timeBounds += "&ebq=" + et.attr('data-quarter');
            timeBounds += "&eby=" + et.attr('data-year');
            timeBounds += "&ey=" + st.attr('data-end-year');
            timeBounds += "&em=" + st.attr('data-end-month');
            var stratify = 'stratify=' + $("#strat-group").attr("data-stratify");
	    stratify += '&stratify2=' + $("#strat-group2").attr("data-stratify");
            var url = stratify + locString + chunkString + timeBounds;
            $('#graphable-toolbar').attr('data-url', '?' + url);
            $('#fetch-timeseries').prop('disabled', false);
            $('#select-form input[name="query"]').val(url);
        }
        graphForwardForm();
        $('#select-form').attr('action', $('#graphable-toolbar').attr('data-url'));
    </script>
    <script type='text/javascript' src="{% static "national_riskscape/js/d3.v5.min.js" %}"></script>
    <script type='text/javascript' src="{% static "national_riskscape/js/c3.0.7.20.min.js" %}"></script>
{% endblock %}
