{% extends 'national_riskscape/app_base.html' %}
{% load humanize %}
{% load static %}

{% block main %}
    <div class="row">
        {% if Failure %}
            <div class="alert alert-md alert-danger alert-dismissible show col-md-4" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Failed</strong>: {{ Failure|join:", " }}
            </div>
        {% endif %}
        {% if Pending %}
            <div class="alert alert-md alert-info alert-dismissible show col-md-4" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Uploaded</strong>: {{ Pending|join:", " }}
            </div>
        {% endif %}
        {% if Waiting %}
            <div class="alert alert-md alert-warning alert-dismissible show col-md-4" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Waiting</strong>: {{ Waiting|join:", " }}
            </div>
        {% endif %}
        {% if Running %}
            <div class="alert alert-md alert-info alert-dismissible show col-md-4" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Running</strong>: {{ Running|join:", " }}
            </div>
        {% endif %}
        {% if Success %}
            <div class="alert alert-md alert-success alert-dismissible show col-md-4" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Success</strong>: {{ Success|join:", " }}
            </div>
        {% endif %}
    </div>
    <div class="row">
	<div class="row w-100">
	    <div class="col">
            <h6 class="float-left">
                Latest sample date: {{ default_end.month }}-{{ default_end.year }}<br/>
            </h6>
	    </div>
	</div>
        <div>
		Welcome to iVEST. Click here to view the  
		<button class="btn btn-sm btn-outline-primary" data-furl="{% url 'map' %}" > National Map
                    </button>
        </div>
        <hr>
	<div class="row">
	    <div class="col">
    	    {{ ABOUT_TEXT|safe }}
	    <div>
	</div>
	{% if staging %}
	<h6>Last Data Upload to Staging: {{ last_upload_date }}<br/><br/></h6>
	    <form action="{% url 'upload_ivest' %}" method="POST">
		<button type="submit">Upload iVEST Data to Production</button>
	    </form>
	    <div><strong>{{upload_message}}</strong></div>
	{% endif %}

    </div>
{% endblock %}
{% block script %}
    {{ block.super }}
    <script type='text/javascript' src="{% static "national_riskscape/js/d3.v5.min.js" %}"></script>
    <script type='text/javascript' src="{% static "national_riskscape/js/c3.0.7.20.min.js" %}"></script>
    <script nonce='jcRquZ2yV9' type='text/javascript'>
        $("div[data-donut]").each(function () {
            var percentage = $(this).data('donut');
            var bg = $(this).css('background-color');
            c3.generate({
                bindto: '#' + $(this).attr('id'),
                size: {width: 225, height: 150},
                data: {
                    columns: [
                        ['show', percentage],
                        ['dontshow', 100 - percentage],],
                    type: 'donut',
                    order: null,
                    line: {
                        connect: {null: false}
                    }
                },
                color: {
                    pattern: ['#0275D8', bg]
                },
                legend: {
                    show: false
                },
                donut: {
                    label: {
                        show: false
                    },
                    title: percentage + '%',
                    width: 15,
                    expand: false
                },
                tooltip: {
                    show: false
                },
                interaction: {
                    enabled: false
                }
            });
        });

        $("div[data-spark]").each(function () {
            var spark = $(this).data('spark');
            for (var i = 0; i < spark.length; i++) {
                if (spark[i] == -1) {
                    spark[i] = null;
                }
            }
            c3.generate({
                bindto: '#' + $(this).attr('id'),
                data: {
                    columns: [spark],
                    type: "area"
                },
                color: {pattern: ['#fff']},
                legend: {
                    show: false
                },
                tooltip: {show: false},
                axis: {
                    x: {show: false},
                    y: {show: false}
                },
                size: {height: 150, width: 200},
                point: {
                    show: false
                }
            });
        });
        d3.selectAll(".c3-chart-arcs-title")
                .attr("dy", "-0.0em")
                .style('fill', '#fff')
                .style('font-size', 'large');
    </script>
{% endblock %}
