{% include 'analysis/menu_search.html' %}
<div class="scroller">
{% if owner == 'location-two' %}
    <a class="dropdown-item location" 
       data-owner="{{ owner }}" 
       data-locname='none'
       data-loclabel='None' 
       href="#">None</a>
{% endif %}
<a class="dropdown-item location"  
   data-owner="{{ owner }}" 
   data-locname="{{geo_code}}"
   data-loclabel="{{geo_location}}"
   href="#">{{geo_location}}</a>
{% if location_list.states %}
  <h6>States</h6>
  {% for loc in location_list.states %}
    <a class="dropdown-item location" 
       data-owner="{{ owner }}" 
       data-locname="{{ loc.name }}"
       data-loclabel="{{ loc.label }}"
       href="#">{{ loc.label }}</a>
  {% endfor %}
{% else %}
  {% if location_list.counties %}
    <h6>Counties</h6>
    {% for loc in location_list.counties %}
      <a class="dropdown-item location" 
       data-owner="{{ owner }}" 
       data-locname="{{ loc.name }}"
       data-loclabel="{{ loc.label }}"
       href="#">{{ loc.label }}</a>
    {% endfor %}
  {% endif %}
  {% if location_list.zips %}
    <h6>Zip Codes</h6>
    {% for loc in location_list.zips %}
      <a class="dropdown-item location" 
       data-owner="{{ owner }}" 
       data-locname="{{ loc }}"
       data-loclabel="{{ loc }}"
       href="#">{{ loc }}</a>
    {% endfor %}
  {% endif %}
  {% if location_list.tracts %}
    <h6>Census Tracts</h6>
    {% for loc in location_list.tracts %}
      <a class="dropdown-item location" 
       data-owner="{{ owner }}" 
       data-locname="{{ loc }}"
       data-loclabel="{{ loc.label }}"
       href="#">{{ loc }}</a>
    {% endfor %}
  {% endif %}
{% endif %}
</div>
