<div class="modal {% if not drilldown %}fade{% endif %}" id="map-modal" tabindex="-1" role="dialog"
     data-backdrop='static' data-show='true' aria-hidden="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="select-form" action="{% if landing or map %}{% url 'map' %}{% else %}.{% endif %}"
                  method="post">{% csrf_token %}
                <input type="hidden" name="query" value="">
                <div class="modal-header">
                    <h4 class="modal-title pull-left" id="myModalLabel">Select map</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <p><b>Map</b></p>
                        <div>
                            {{ geo_form.geo_area }}
                        </div>
		    </div>

                </div>
                <div class="modal-footer">
			<fieldset class="w-100" id='form-status'>
			<button type="button" class="btn btn-secondary btn-sm float-right" onclick="submitDefaultForm();">
                                 Cancel
                        </button>
                        <input type="button" class="btn btn-primary btn-sm" onclick="forwardForm('{% url 'map' %}');"
                               value="Map">
                        <input type="button" class="btn btn-primary btn-sm"
                               onclick="forwardForm('{% url 'map' %}');" value="Demographics">
                        <input type="button" class="btn btn-primary btn-sm"
                               onclick="forwardForm('{% url 'map' %}');" value="Timeseries"><span
                            class="text-danger invisible d-block">You no selected options for the map</span>
			</fieldset>
                </div>
            </form>
        </div>
    </div>
</div>
