{% extends 'analysis/graphable.html' %}
{% load static %}
{% load humanize %}

{% block main %}
    {{ block.super }}
    <div id="map-container">
	<div class="row">
        <div id="map" class="pull-left img-rounded"
             data-url="{% url 'map_overlay' pk=map_cache %}">
	</div>
	</div>
	<div>
        <nav class="navbar navbar-light bg-faded">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link map-underlay" >Hide Map Underlay</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link map-opacity"><input id="slider" type="range" min="0" value="100" max="100"></a>
                </li>
            </ul>
	 <div>
	 <button type="button" class="pull-right"  data-furl="{% url 'map_data' pk=map_cache %}";>
            Download Data
        </button>
	 <button type="button" class="pull-right print-btn">
            Download Map
        </button>
	 </div>

        </nav>
    	<div class="hidden-print-content"> 
		<div id="map-loc"></div>
		<div id="map-prev"></div>
		<div id="map-npats"></div><br/>
		<div id="map-date"></div>
    	</div>
	{% include 'analysis/mends-text.html' %}
	</div>
    </div>
    <div id="zip-details" class="map-tip card card-block text-muted font-weight-bold no-print">
        <button id='close-btn' type="button" class="close pull-right no-print" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h6 class="card-text text-md-center zip-code no-print">
		<span></span>
	</h6>
        <div class="card-text text-md-center prevalence no-print">Prevalence <span></span>%<br/>
        <p class="card-text text-md-center font-weight-normal population no-print">
            Num Patients: <span class="pop"></span><br/>
            SE: <span class="sterr"></span><br/>
            Lower 95% CI: <span class="lowerci"></span><br/>
            Upper 95% CI: <span class="upperci"></span><br/>
	</p>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type='text/javascript' src="{% static "national_riskscape/js/leaflet0.7.5.min.js" %}"></script>
    <script type='text/javascript' src="{% static "national_riskscape/js/d3-4.2.2.min.js" %}"></script>
    <script type='text/javascript' src="{% static "national_riskscape/js/d3-scale-chromatic.v1.min.js" %}"></script>
    <script nonce='jcRquZ2yV9' type='text/javascript'>
	$('a.map-underlay').on('click', function() {
            toggleMap($(this));	
	});
	$('a.map-opacity').on('input','#slider', function() {
            changeOpacity($(this).val());	
	});
        $('#map').width($('#map').width());
        $('#map').height(600);
        activateLoadingOverlay();
        var layer = L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://carto.com/attributions">CARTO</a>'
        });
        // Date parameters
        updateTimeChunk('{{ chunked|capfirst }}');
	$('#time-interval').hide();
	$('#start-date').hide();
	$('#timebound-breadcrumb').find('>span:first').hide();
	$('#timebound-breadcrumb').find('>small:first').hide();        
	$('#timebound-breadcrumb').find('>small:last').html('month & year:&nbsp;&nbsp;');        

        // Geo config
	var geo_file = '';
	var geo_area = '';
	var geo_zoom = '';
	var geo_center = '';
	var conf_geo_area = "{{geo_area}}";
	var geo_places = {{GEO_PLACES|safe}};
	var geo_place = geo_places[conf_geo_area];
	var county_zip_tract = "{{county_zip_tract}}";
        var geo_path = "{% static 'national_riskscape/d3/' %}";
        var geojson_file = '';
        var geojson_county_file = geo_path + geo_place['GEO_FILE'];
	if (geo_place){
		geo_area = geo_place['GEO_AREA'];
		geo_file = geo_place['GEO_FILE'];
		geo_zoom = geo_place['GEO_ZOOM'];
		geo_center = [geo_place['GEO_CENTER_LAT'], geo_place['GEO_CENTER_LON']];
		if ((conf_geo_area != 'USA') && (county_zip_tract == 'zip')){
			geo_area = geo_place['GEO_AREA2'];
			geo_file = geo_place['GEO_FILE2'];
		}
		if ((conf_geo_area != 'USA') && (county_zip_tract == 'tract')){
			geo_area = geo_place['GEO_AREA3'];
			geo_file = geo_place['GEO_FILE3'];
		}
		if (localStorage.getItem("geo_center_lat")){
		        geo_center = [localStorage.getItem("geo_center_lat"), localStorage.getItem("geo_center_lon")];
			geo_zoom = localStorage.getItem("geo_zoom");
		}
        	geojson_file = geo_path + geo_file;
	}

        // Intialize the map
        var map = L.map('map', {
	    zoomControl:true,
            scrollWheelZoom: false,
            center: geo_center,
            zoom: geo_zoom, minZoom: 4, maxZoom: 13
        });
        map.addLayer(layer);

        function addControlPlaceholders(map) {
            var corners = map._controlCorners,
                    l = 'leaflet-',
                    container = map._controlContainer;

            function createCorner(vSide, hSide) {
                var className = l + vSide + ' ' + l + hSide;

                corners[vSide + hSide] = L.DomUtil.create('div', className, container);
            }

            createCorner('top', 'center');
        }
        addControlPlaceholders(map);

        var StatePrevControl = L.Control.extend({
            options: {
                position: 'topleft'
            },
            onAdd: function (map) {
                return L.DomUtil.create('div', 'state-prev-control no-print');
            },
            setContent: function (content) {
                this.getContainer().innerHTML = content;
            }
        });

        var statePrev = new StatePrevControl().addTo(map);

        function setOverall(overall) {
	    statePrev.setContent(overall);
        }

	const arrayRange = (start, stop, step) =>
	    Array.from(
    	    { length: (stop - start) / step + 1 },
    	    (value, index) => start + index * step
    	    );
	function addLegend(min, max){
	    step = Math.round((max-min)/10)
	    var x = arrayRange(min, max, step).reverse()
	    var legend = L.control({position: 'bottomright'});
	    legend.onAdd = function (map) {
    	        var div = L.DomUtil.create('div', 'info map-legend'),
                //grades = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 1].reverse();
                grades = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.9, 1];
		if (x.length == 12){
                    grades = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.95, 1];
		} else if (x.length == 11){
                    grades = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1];
		}
		else if (x.length == 10){
                    grades = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.9, 1];
		}
		else if (x.length == 9){
                    grades = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.7, 0.8, 1];
		}
                labels = [];
		div.style.backgroundColor = "white";
    	        // loop through our density intervals and generate a label with a colored square for each interval
		if (x[x.length-1] == 0) {
		    x[x.length-1] = 1;
		}
    	        for (var i = 0; i < grades.length; i++) {
			leg_str = '';
			if (i == 0){
			    leg_str = x[i] + '+<br>';
			} else if (i>0 && x[i] && x[i+1]){
				leg_str = x[i] + '&ndash;' + (x[i-1]-1) + '<br>';
			} 
			else if (i>0 && x[i] ) {
				leg_str = (x[i-1]-1) + ' and lower<br>';
			}
                    div.innerHTML +=
                    '<i style="background:' + d3.interpolateSpectral(grades[i]) + '"></i> ' + leg_str;
                }
		    div.innerHTML += '<i style="background:white"></i> ' + '<br>';
                div.innerHTML += '<i style="background:#9C7C59;opacity:0.5"></i> ' + 'No data';

                return div;
            };
	    legend.addTo(map);
	}

        function toggleMap(caller) {
            if (caller.html().includes("Hide")) {
                layer.setOpacity(0);
                caller.html('Show Map Underlay');
            } else {
                layer.setOpacity(1);
                caller.html('Hide Map Underlay');
            }
        }

        jQuery.fn.d3Click = function () {
            this.each(function (i, e) {
                var evt = new MouseEvent("click");
                e.dispatchEvent(evt);
            });
        };

        function showZip(zc) {
            highlightZip(zc);
            $('.zippath-' + zc).d3Click();
        }

        function highlightZip(zc) {
            $('#zip-jump').parent().removeClass('has-danger');
            $('.zip-highlight').removeClass("zip-highlight");
            if ($('.zippath-' + zc).length > 0) {
                $('.zippath-' + zc).addClass("zip-highlight");
            }
            else {
                $('#zip-jump').parent().addClass('has-danger');
            }
            $('#zip-jump').val('');
        }

        function closetip() {
            $('.map-tip').hide();
            $('.zip-highlight').removeClass('zip-highlight');
        }
        var svg = d3.select(map.getPanes().overlayPane).append("svg").on("mousedown", closetip),
                g = svg.append("g").attr("class", "leaflet-zoom-hide");
        countyG = svg.append("g").attr("class", "leaflet-zoom-hide");

        function changeOpacity(val) {
            $('.zipcode').css('fill-opacity', val / 100);
            $('#legend').css('opacity', val / 100);
        }
        function getColor(percent) {
            return d3.interpolateSpectral(1 - percent);
        }

        var mapInterval = null;

	function countyLayer(){
          d3.json(geojson_county_file, function (error, collection) {
            if (error) throw error;
            var transform = d3.geoTransform({point: projectPoint}),
                    path = d3.geoPath().projection(transform);

            var feature = countyG.selectAll("path")
                    .data(collection.features)
                    .enter().append("path")
		    .attr("d",path)
		    .style("fill","none")
		    .style("stroke","black")
		    .style("stroke-width",3);
	      countyG.selectAll("text")
    	      .data(collection.features)
              .enter()
              .append("text")
              .attr("fill", "black")
              .attr("transform", function(d) { 
              var centroid = path.centroid(d);
              return "translate(" + centroid[0] + "," + centroid[1] + ")"
              })
              .attr("text-anchor", "middle")
              .attr("dy", ".35em")
              .text(function(d) {
                  return d.properties.NAME10;
               });
            map.on("viewreset", reset);
            reset();
            // Reposition the SVG to cover the features.
            function reset() {
                closetip();
                var bounds = path.bounds(collection),
                        topLeft = bounds[0],
                        bottomRight = bounds[1];

                svg.attr("width", bottomRight[0] - topLeft[0])
                        .attr("height", bottomRight[1] - topLeft[1])
                        .style("left", topLeft[0] + "px")
                        .style("top", topLeft[1] + "px");

                countyG.attr("transform", "translate(" + -topLeft[0] + "," + -topLeft[1] + ")");
                feature.attr("d", path);

		// transform text
	        countyG.selectAll("text")
              	 .attr("transform", function(d) { 
              	   var centroid = path.centroid(d);
                   return "translate(" + centroid[0] + "," + centroid[1] + ")"
              	  })
            }

            // Use Leaflet to implement a D3 geometric transformation.
            function projectPoint(x, y) {
                var point = map.latLngToLayerPoint(new L.LatLng(y, x));
                this.stream.point(point.x, point.y);
            }
	
          });
	}

        d3.json(geojson_file, function (error, collection) {
            if (error) throw error;
            var transform = d3.geoTransform({point: projectPoint}),
                    path = d3.geoPath().projection(transform);

            var feature = g.selectAll("path")
                    .data(collection.features)
                    .enter().append("path")
                    .attr('class', function (d) {
                        if (geo_area == 'postcode')
                            return 'zipcode zippath-' + d.properties.ZCTA5CE10 + ' nozip'
                        else if (geo_area == 'statecode')
                            return 'zipcode zippath-' + d.properties.STUSPS10 + ' nozip';
                        else if (geo_area == 'tractcode')
                            return 'zipcode zippath-' + d.properties.TRACTCE10 + ' nozip';
                        else if (geo_area == 'countycode')
                            return 'zipcode zippath-' + d.properties.COUNTYFP10 + ' nozip';
                    });
	      g.selectAll("text")
    	      .data(collection.features)
              .enter()
              .append("text")
              .attr("fill", "black")
              .attr("transform", function(d) { 
              var centroid = path.centroid(d);
              return "translate(" + centroid[0] + "," + centroid[1] + ")"
              })
              .attr("text-anchor", "middle")
              .attr("dy", ".35em")
              .text(function(d) {
		if (geo_area == 'statecode') {
                  return d.properties.STUSPS10;
		}
		else if (geo_area == 'countycode') {
                  return d.properties.NAME10;
		} else{ return ""}
               });
            map.on("viewreset", reset);
            reset();
            // Reposition the SVG to cover the features.
            function reset() {
                closetip();
                var bounds = path.bounds(collection),
                        topLeft = bounds[0],
                        bottomRight = bounds[1];

                svg.attr("width", bottomRight[0] - topLeft[0])
                        .attr("height", bottomRight[1] - topLeft[1])
                        .style("left", topLeft[0] + "px")
                        .style("top", topLeft[1] + "px");

                g.attr("transform", "translate(" + -topLeft[0] + "," + -topLeft[1] + ")");
                feature.attr("d", path);

		// transform text
	        g.selectAll("text")
              	 .attr("transform", function(d) { 
              	   var centroid = path.centroid(d);
                   return "translate(" + centroid[0] + "," + centroid[1] + ")"
              	  })
            }

            // Use Leaflet to implement a D3 geometric transformation.
            function projectPoint(x, y) {
                var point = map.latLngToLayerPoint(new L.LatLng(y, x));
                this.stream.point(point.x, point.y);
            }

            mapInterval = setInterval(function () {
                getMapData($('#map').attr('data-url'));
            }, 1000);
        });
	// Show county layer on top of state with zip codes
	if (geo_area =='postcode' && localStorage.getItem("geo_center_lat")) {
	    countyLayer();
            $('.state-prev-control').hide();
	}

	function today(){
	    var today = new Date();
	    var dd = String(today.getDate()).padStart(2, '0');
	    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
	    var yyyy = today.getFullYear();
	    return today = mm + '/' + dd + '/' + yyyy;
	}

        function getMapData(mapcache) {
            $.ajax({
                url: mapcache,
                type: 'get',
                dataType: 'json',
                cache: false,
                success: function (response) {
                    if (response.complete) {
                        var data = response.data;
                        clearInterval(mapInterval);
			addLegend(data.map_range.min, data.map_range.max);
                        $("#legend-max").html(data.map_range.max + "%").data('percent', data.map_range.max);
                        $("#legend-min").html(data.map_range.min + "%").data('percent', data.map_range.min);
			$("#map-loc").html("Location: " + data.nationwide.place_name);
			var map_prev = data.nationwide.prevalence;
			if ( map_prev ){
			    map_prev = data.nationwide.prevalence.toFixed(2);
			}
			$("#map-prev").html("Prevalence (%, 95% CI): " + map_prev + " ["+ data.nationwide.lowerci +", " + data.nationwide.upperci + "]");
			$("#map-npats").html("Number Patients: " + data.nationwide.npats);
			$("#map-date").html("Map Created " + today());
			var national_stats = data.nationwide.place_name + "<br/>" + 
				    		"Prevalence: " + data.nationwide.prevalence + "%<br/>" +
				    	     	"Num Patients: " + data.nationwide.npats + "<br/>" +
				    	     	"SE: " + data.nationwide.se + "<br/>" +
	    					"Lower 95% CI: " + data.nationwide.lowerci + "<br/>" +
	    					"Upper 95% CI: " + data.nationwide.upperci;
			if (geo_area =='postcode' && localStorage.getItem("geo_center_lat")) {
			    national_stats = localStorage.getItem("place_name") + "<br/>" + 
				    		"Prevalence: " + localStorage.getItem("prevalence") + "%<br/>" +
				    	     	"Num Patients: " + localStorage.getItem("population") + "<br/>" +
				    	     	"SE: " + localStorage.getItem("se") + "<br/>" +
	    					"Lower 95% CI: " + localStorage.getItem("lowerci") + "<br/>" +
	    					"Upper 95% CI: " + localStorage.getItem("upperci");
			}
                        setOverall(national_stats);
                        populateMap(data.map_data);
                        deactivateLoadingOverlay();
                    }
                },
                error: function (err) {
                    clearInterval(mapInterval);
                    $('#error-alert').show();
                    deactivateLoadingOverlay();
                    console.log(err);
                }
            });
        }

        function populateMap(mapdata) {
	    localStorage.setItem("geo_center_lat", "");
	    localStorage.setItem("geo_center_lon", "");
	    localStorage.setItem("geo_zoom", "");
	    localStorage.setItem("place_name", "");
	    localStorage.setItem("population", "");
	    localStorage.setItem("se", "");
	    localStorage.setItem("lowerci", "");
	    localStorage.setItem("upperci", "");
	    localStorage.setItem("prevalence", "");
            $.each(mapdata, function (idx, md) {
                d3.selectAll('.zippath-' + md.zip)
                        .classed('nozip', function () {
                            return md.normalized == null ? true : false;
                        })
                        .attr('fill', function () {
                            return getColor(md.normalized);
                        })
                        //.text(function () {
                        //    return md.place_name;
                        //})
                        .on('mouseover', function () {
                            if (!$(this).hasClass('nozip')) {
                                closetip();
                                var zd = $('#zip-details');
                                zd.find('.zip-code>span').html(md.place_name);
                                zd.find('.population>span.pop').html(md.population);
                                zd.find('.population>span.sterr').html(md.se);
                                zd.find('.population>span.lowerci').html(md.lowerci);
                                zd.find('.population>span.upperci').html(md.upperci);
                                zd.find('.prevalence>span:first').html(md.prevalence);
                                zd.show();
                                //highlightZip(md.zip);
                            }
                            d3.event.stopPropagation();
                        })
                        .on('click', function () {
				if (!$(this).hasClass('nozip')) {
				    if (conf_geo_area == 'USA') { // drill down to state
					map_code = md.zip;
				        $('#id_geo_area').val(map_code).change();
				        forwardForm('{% url 'map' %}');
				    } else {
				      if (md.place_lat != null){ // zoom into county with zip codes
				    	$('#id_filter-form-county_zip_tract_1').prop("checked", true);
					localStorage.setItem("geo_center_lat", md.place_lat);
					localStorage.setItem("geo_center_lon", md.place_lon);
					localStorage.setItem("geo_zoom", 9);
					localStorage.setItem("place_name", md.place_name);
					localStorage.setItem("population", md.population);
					localStorage.setItem("se", md.se);
					localStorage.setItem("lowerci", md.lowerci);
					localStorage.setItem("upperci", md.upperci);
					localStorage.setItem("prevalence", md.prevalence);
				        forwardForm('{% url 'map' %}');
				      }
				    }
				}
                            d3.event.stopPropagation();
                        });
            });
        }

    </script>

{% endblock %}
