{% load static %}
<div class="hidden-print-content">
	<div>MENDS Indicator Documentation can be found at: 
		<a href="https://public.3.basecamp.com/p/5W4Gy8G3zpPVd2YytqNJqyCZ">https://public.3.basecamp.com/p/5W4Gy8G3zpPVd2YytqNJqyCZ</a>
	</div>
	<div>MENDS Weighting and Modeling approach can be found at: 
		<a href="https://public.3.basecamp.com/p/R3oN5gfsVXRzeW3oJ2ApY5e7">https://public.3.basecamp.com/p/R3oN5gfsVXRzeW3oJ2ApY5e7</a>
	</div>
	<div>
		<p>Criteria for insufficient data: County, Parish, and 5-digit ZIP code-level estimates with standard error greater than 5% are currently suppressed due to inadequate precision.</p>
	</div>
	<div>A list of MENDS partner sites can be found at: 
		<a href="https://chronicdisease.org/page/mendsinfo/">https://chronicdisease.org/page/mendsinfo/</a>
	</div>
	<div><p>Funding Acknowledgement: The “Improving Chronic Disease Surveillance and Management Through the Use of Electronic Health Records/Health Information Systems” project is supported by the Centers for Disease Control and Prevention (CDC) of the U.S. Department of Health and Human Services (HHS) as part of a financial assistance award totaling $2,500,000 with 100 percent funded by CDC/HHS. Disclaimer: The contents are those of the authors and do not necessarily represent the official views of, nor an endorsement, by CDC/HHS, or the U.S. Government.</p>
	</div>
</div>
