{% extends 'national_riskscape/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
	{% include 'national_riskscape/messages.html' %}
        <div class="row">
            <div id="menu" class="col-md-2 no-print">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action text-md-center {% if landing %}active{% endif %}"
                       href="{% url 'home' %}"><i class="fa fa-tachometer fa-2x"></i><br/>Home</a>
                    <li class="list-group-item list-group-item-action text-md-center {% if map %}active{% endif %} {% if not map and not current and not timeseries %}disabled{% endif %}"
                        {% if map or current or timeseries %} data-furl="{% url 'map' %}" {% endif %}><img src="
                        {% if map %}{% static 'national_riskscape/img/map-active.png' %}{% else %}{% static 'national_riskscape/img/map-inactive.png' %}{% endif %}"
                                                                       width="50px"><br/>Map
                    </li>
                    <li class="list-group-item list-group-item-action text-md-center {% if current %}active{% endif %} {% if not map and not current and not timeseries %}disabled{% endif %}"
                        {% if map or current or timeseries %} data-furl="{% url 'current' %}" {% endif %}><i class="fa fa-bar-chart fa-2x"></i><br/>Demographics
                    </li>
                    <li class="list-group-item list-group-item-action text-md-center  {% if timeseries %}active{% endif %} {% if not map and not current and not timeseries %}disabled{% endif %}"
                        {% if map or current or timeseries %} data-furl="{% url 'timeseries' %}" {% endif %}><i class="fa fa-line-chart fa-2x"></i><br/>Timeseries
                    </li>
                    <li class="list-group-item list-group-item-action text-md-center" id="condition-def"
                        ><i class="fa fa-file-text-o fa-2x"></i><br/>
                        Condition Definitions
                    </li>
                    <li id="user-link"
                        class="list-group-item list-group-item-action text-md-center {% if "password_change" in request.resolver_match.url_name %}active{% endif %}"
                        data-furl="{% url 'password_change' %}"><i
                            class="fa fa-user fa-2x"></i><br/>Change Password
                    </li>
                    <a class="list-group-item list-group-item-action text-md-center"
                       href="{% url 'logout' %}"><i class="fa fa-sign-out fa-2x"></i><br/>Logout</a>
                </div>
            </div>
            <div id="main-content" class="col-md-10 loadover">


                {% if outcome_form and not about and not landing %}
		    <h4 class="text-center" id="page-title"></h4>
                    <p class="text-right no-print">
			Latest sample date: {{ default_end.month }}-{{ default_end.year }}
		    </p>
                    <div class="row no-print">
                        <div class="col-md-8">
			    <button id="condition-select" type="button" class="btn btn-md btn-outline-primary bg-light mb-1 text-dark">
                                <span class="breadcrumb-header float-left">
                                    <small>Condition of Interest & Inclusion Criteria</small>
                                    <i class="fa fa-bars"></i>
                                </span>
				<br>
				<ol class="breadcrumb border-light">
                                    {% if outcome_form.condition.value %}
				    	{% if outcome_form.condition.value == 'HTN' %}
				        	<li class="breadcrumb-item">Hypertension</li>
				    	{% elif outcome_form.condition.value == 'HTN-C' %}
				        	<li class="breadcrumb-item">Controlled Hypertension</li>
				    	{% elif outcome_form.condition.value == 'DIAB' %}
				        	<li class="breadcrumb-item">Diabetes</li>
				    	{% elif outcome_form.condition.value == 'SMOKING' %}
				            <li class="breadcrumb-item">Smoking</li>
				    	{% elif outcome_form.condition.value == 'ASTHMA' %}
				            <li class="breadcrumb-item">Asthma</li>
				    	{% elif outcome_form.condition.value == 'OBESITY' %}
				            <li class="breadcrumb-item">Obesity</li>
				    	{% else %}
				            <li class="breadcrumb-item">Invalid Condition Selected </li>
				    	{% endif %}
                                    {% else %}
                                        <li class="breadcrumb-item">No Condition Selected</li></ol>
                                    {% endif %}
                                </ol>
				<ol class="breadcrumb border-light">
					{% if filter_form.demographic.value %}
					    {% if filter_form.demographic.value != 'overall' %}
					      {% if filter_form.demographic.value == 'sex' %}
					        <li class="breadcrumb-item"><small>By:</small>&nbsp;Sex</li>
					        {% if map %}
					          <li class="breadcrumb-item">{{filter_form.sex.value}}</li>
						{% endif %}
					      {% elif filter_form.demographic.value == 'age_group' %}
					        <li class="breadcrumb-item"><small>By:</small>&nbsp;Age Group</li>
					        {% if map %}
					          <li class="breadcrumb-item">{{filter_form.age_group.value}}</li>
						{% endif %}
					      {% elif filter_form.demographic.value == 'race' %}
					        <li class="breadcrumb-item"><small>By:</small>&nbsp;Race</li>
					        {% if map %}
					          <li class="breadcrumb-item">{{filter_form.race.value}}</li>
						{% endif %}
					      {% elif filter_form.demographic.value == 'primary_payer' %}
					        <li class="breadcrumb-item"><small>By:</small>&nbsp;Primary Payer</li>
					        {% if map %}
						  {% if filter_form.primary_payer.value == 'Unknown_other_self-pay' %}
					            <li class="breadcrumb-item">Unknown, Other, Self-pay</li>
						  {% elif filter_form.primary_payer.value == 'BlueCross_Commercial' %}
					            <li class="breadcrumb-item">Blue Cross, Commercial</li>
						  {% elif filter_form.primary_payer.value == 'Workers_comp_Auto' %}
					            <li class="breadcrumb-item">Workers comp, Auto</li>
						  {% else %}
					            <li class="breadcrumb-item">{{filter_form.primary_payer.value}}</li>
						  {% endif %}
						{% endif %}
					      {% elif filter_form.demographic.value == 'rural_urban' %}
					        <li class="breadcrumb-item"><small>By:</small>&nbsp;Rural Urban</li>
					        {% if map %}
						  {% if filter_form.rural_urban.value == 'mostly_urban' %}
					            <li class="breadcrumb-item">Mostly Urban (<50%)</li>
						  {% elif filter_form.rural_urban.value == 'mostly_rural' %}
					            <li class="breadcrumb-item">Mostly Rural (50%-99%)</li>
						  {% elif filter_form.rural_urban.value == 'completely_rural' %}
					            <li class="breadcrumb-item">Completely Rural (100%)</li>
						  {% else %}
					            <li class="breadcrumb-item">{{filter_form.rural_urban.value}}</li>
						  {% endif %}
						{% endif %}
					      {% endif %}
					    {% else %}
					        <li class="breadcrumb-item">Overall</li>
					    {% endif %}
					{% else %}
                                            <li class="breadcrumb-item">No Additional Criteria Selected</li>
				        {% endif %}
                                </ol>
				<ol class="breadcrumb border-light">
				    {% if not map %}
                                    <li class="breadcrumb-item">
                                        <small>In:</small>&nbsp;
                                        {{ data.0.location_label }}{% if data.0.location != data.1.location %}, {{ data.1.location_label }}{% endif %}
                                    </li>
				    {% endif %}
                                        <li id="timebound-breadcrumb" class="breadcrumb-item">
                                            <small>From:&nbsp;&nbsp;</small>
                                            <span></span>
                                            <small>To:&nbsp;&nbsp;</small>
                                            <span></span>
                                        </li>
                                </ol>
			    </button>
			</div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        <div id="error-alert" class="alert alert-danger collapse" role="alert">
                            iVEST encountered an error. Try different selections.
                        </div>
                        {% block main %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loading-overlay" class="text-primary mx-auto">
        <div><i class="fa fa-spinner fa-pulse"></i> <em>Loading</em></div>
    </div>
    {% include 'analysis/form-modal.html' %}
    {% include 'national_riskscape/download.html' %}
{% endblock %}

{% block script %}
    <script nonce='jcRquZ2yV9' type='text/javascript'>
        $('#def-doc1,#def-doc2').on('click', function () {
	    window.open($(this).attr('data-docurl'));
        })
	$("#condition-def").on('click', function() {
	    $('#download-modal').modal('show');
	});
	$("#condition-select").on('click', function() {
	    $('#outcome-modal').modal('show');
	});
        $('[data-furl]').on('click', function () {
            forwardForm($(this).attr('data-furl'));
        })
        $('#close-btn').on('click', function () {
            closetip();
        })
        $('.print-btn').on('click', function () {
            window.print();
        })
        function setBreadcrumbs() {
            var widths = [];
            $('ol.breadcrumb').each(function () {
                widths.push($(this).width());
            });
            if (widths.length > 1) {
                var max = Math.max.apply(null, widths);
                $('ol.breadcrumb').width(max);
            }
        }

        function activateLoadingOverlay() {
            var baseMeasure = $('.loadover');
            $("#loading-overlay").css('width', baseMeasure.width() + 15)
                .css('height', baseMeasure.height())
                .css('top', baseMeasure.offset().top).css('left', baseMeasure.offset().left)
                .show();
        }
        function deactivateLoadingOverlay() {
            $("#loading-overlay").fadeOut(1000);
            setBreadcrumbs();
        }
        function toggleCondition(id) {
            $(id).collapse('toggle');
        }
        $('.collapse :not(.in)').collapse('hide');
        $('#outcome-modal').on('shown.bs.modal', function () {
            $('[data-visible="yes"]').collapse('show');
            toggleSubmit();
        })
        $('.card-title .close').on('click', function () {
            var targ = $(this).attr('data-target');
            $('li[data-target="' + targ + '"]').removeClass('disabled');
        });
        $('.filter > div:not(.in) [type="checkbox"]').prop('checked', true).prop('disabled', true);
        $('.filter > div.in').each(function () {
            toggleTab($(this));
        });
        $('#filter-tabs a.bg-success:first').click();
        $('.condition').on('show.bs.collapse', function () {
            if ($('.condition:visible').length > 0) {
                $('<span class="logical-and small d-block text-md-center">And</span>').appendTo('#condition-picker');
            }
            $($(this)).detach().appendTo('#condition-picker');
            var conID = $(this).attr('id');
            $('option[data-target="#' + conID + '"]').prop('disabled', true);
        });
        $('.condition').on('hide.bs.collapse', function () {
            var conID = $(this).attr('id');
            $('option[data-target="#' + conID + '"]').prop('disabled', false);
        });
        $('.condition').on('hidden.bs.collapse', function () {
            $($(this)).find('input:hidden').prop('disabled', true);
            checkWarning($(this));
            if ($('.condition:visible').length == 1) {
                $('.logical-and').remove();
            }
            $(this).prev('span').remove();
        });
        $('.filter').on('show.bs.collapse', function () {
            $($(this)).find('input').prop('disabled', false);
            flipCaret($(this).find('div.collapse').attr('id'), 'down');
        });
        $('.filter').on('hide.bs.collapse', function () {
            $($(this)).find('input').prop('disabled', true);
            flipCaret($(this).find('div.collapse').attr('id'), 'right');
        });
        $('.filter').on('hidden.bs.collapse', function () {
            checkWarning($(this));
            $(this).removeClass('text-success text-danger');
            toggleTab($(this));
        });
        function flipCaret(target, direction) {
            var icon = $('[href="#' + target + '"] i');
            icon.removeClass('fa-caret-right fa-caret-down').addClass('fa-caret-' + direction);
        }
        $('.condition [type="checkbox"]').on('change', function () {
            checkWarning($(this));
        });
        $('.filter [type="checkbox"]').on('change', function () {
            checkWarning($(this));
            toggleTab($(this));
        });
        $('.condition').on('shown.bs.collapse', function () {
            checkWarning($(this));
            $($(this)).find('input').prop('disabled', false);
        });
        $('.filter').on('shown.bs.collapse', function () {
            checkWarning($(this));
            toggleTab($(this));
        });
        function checkWarning(element) {
            var container = element.closest('.condition, .filter');
            if (container.find('[type="checkbox"]:visible').length > 0) {
                if (container.find(':checked').length == 0) {
                    needValues(container, true);
                } else {
                    needValues(container, false);
                }
            } else {
                needValues(container, false);
            }
        }
        var needCount = 0;
        function needValues(container, need) {
            var remove = 'success';
            var add = 'danger';
            if (!need) {
                remove = 'danger';
                add = 'success';
            }
            container.addClass('text-' + add).removeClass('text-' + remove);
            container.find('.text-' + remove).removeClass('text-' + remove).addClass('text-' + add);
            container.find('.card-outline-' + remove).removeClass('card-outline-' + remove).addClass('card-outline-' + add);
            toggleSubmit();
        }

        function toggleTab(container) {
            var tab = container.parents('[role=tabpanel]').first();
            var currentClass = '';
            if (tab.find('.text-success').length > 0) {
                currentClass = 'text-success';
            }
            if (tab.find('.text-danger').length > 0) {
                currentClass = 'text-danger';
            }
            $('[href="#' + tab.attr('id') + '"]').removeClass('text-success').removeClass('text-danger').addClass(currentClass);
        }

	function prev_valid(prev){
	    if (prev < 0 || prev > 100) { return false;}
	    return true;
	}

	$('#min_prev_error').hide();
	$('#max_prev_error').hide();
	$("#id_filter-form-min_prevalence").on("input", function(){
	    var is_valid = prev_valid($(this).val());
	    if (is_valid){
		$('#min_prev_error').hide();
	    } else{
	        $('#min_prev_error').show();
	    }
	    toggleSubmit();
	});
	$("#id_filter-form-max_prevalence").on("input", function(){
	    var is_valid = prev_valid($(this).val());
	    if (is_valid){
		$('#max_prev_error').hide();
	    } else{
	        $('#max_prev_error').show();
	    }
	    toggleSubmit();
	});

        function toggleSubmit() {
            if ( !prev_valid( $("#id_filter-form-min_prevalence").val())
		|| !prev_valid( $("#id_filter-form-max_prevalence").val())
		)
                {
                $('#form-status input').attr('disabled', 'disabled').removeClass('btn-primary').addClass('btn-danger');
            } else {
                $('#form-status input').removeAttr('disabled').removeClass('btn-danger').addClass('btn-primary');
            }
        }
        function forwardForm(url) {
            closeFullFilters();
            $('#select-form').attr('action', url).submit();
        }
        function submitDefaultForm() {
            $('#select-form .modal-body').css({'color': 'white', 'height': '1px', 'overflow': 'hidden'});
            $('#select-form .modal-body').html(`{{ outcome_form.as_p }}{{ filter_form.as_p }}`);
            forwardForm(window.location.href);
        }

        function closeFullFilters() {
            $('.filter>div.in').each(function () {
                if ($(this).find('input:not(:checked)').length == 0) {
                    $(this).collapse('hide');
                }
            });
        }
        function setDownload(){
            let dlForm = $("#download-form");
            dlForm.find("button").on("click", function(){
                console.log($(this).attr("download"));
                dlForm.attr("action", $(this).attr("download"));
                $(this).submit();

            })
        }
        setDownload();
        var colors = [
            '#5e4fa2',
            '#4799b3',
            '#8fd2a4',
            '#dcf19f',
            '#fdf5ad',
            '#fdc676',
            '#f47c4d',
            '#cd364b',
            '#4d66ac',
            '#58afad',
            '#a9dda2',
            '#ebf7a6',
            '#feeb9f',
            '#fcb167',
            '#ec6549',
            '#b91f48',
            '#437db3',
            '#6fc1a8',
            '#c2e69f',
            '#f6faae',
            '#fedd8d',
            '#fa9a59',
            '#e0504a',
            '#a30743',
            '#4594b4',
            '#89cfa5',
        ];

        function getColor(idx){
            return colors[idx % colors.length]
        }

        function hexToRGB(hex,opacity){
            hex = hex.replace('#','');
            let r = parseInt(hex.substring(0,2), 16);
            let g = parseInt(hex.substring(2,4), 16);
            let b = parseInt(hex.substring(4,6), 16);

            return 'rgba('+r+','+g+','+b+','+opacity/100+')';
        }
    </script>
{% endblock %}
