{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% if GOOGLE_TRACKING_ID %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{GOOGLE_TRACKING_ID}}"></script>
<script nonce='jcRquZ2yV9'>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', "{{GOOGLE_TRACKING_ID}}");
</script>
{% endif %}
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "national_riskscape/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "national_riskscape/css/leaflet0.7.5.css" %}">
    <link rel="stylesheet" href="{% static "national_riskscape/css/c3.0.7.20.min.css" %}">

    <link rel="stylesheet" href="{% static "national_riskscape/css/national_riskscape.css" %}">
    <title>iVEST</title>
</head>
<body>
<div id="branding" class="container no-print">
    <div class="row">
        <div class="col-md-1">
		<a href="{% url 'home' %}" >
			<img src="{% static 'national_riskscape/img/iVEST_Icon_Gradient_sm.png' %}" class="">
		</a>
        </div>
    </div>
</div>
{% block content %}{% endblock %}
<div class="container no-print">
    <div id="mends-footer" class="col-xs-1" align="center">
	    <p>Powered by the Multi-State EHR-based Network for Disease Surveillance</p>
    </div>
</div>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script type='text/javascript' src="{% static "national_riskscape/js/jquery-3.5.1.min.js" %}"></script>
<script type='text/javascript' src="{% static "national_riskscape/js/tether1.2.min.js" %}"></script>
<script type='text/javascript' src="{% static "national_riskscape/js/bootstrap.bundle.min.js" %}"></script>
<script type="text/javascript" src="{% static "national_riskscape/js/js.cookie2.1.3.min.js" %}"></script>
<script nonce='jcRquZ2yV9' type='text/javascript'>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
{% block script %}{% endblock %}
</body>
</html>
