{% load static %}
<div class="modal fade" id="download-modal" tabindex="-1" role="dialog"
     data-backdrop='static' data-show='true' aria-hidden="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left" id="myModalLabel">Available Downloads</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <button id="def-doc1" data-docurl="https://public.3.basecamp.com/p/5W4Gy8G3zpPVd2YytqNJqyCZ','_blank')" 
				  class="btn btn-sm btn-primary">Disease Algorithm Definitions</button>
                    <button id="def-doc2" data-docurl="https://public.3.basecamp.com/p/te2qNgTYXHRXAc2Pp9nqBqwK','_blank')" 
			    class="btn btn-sm btn-primary">iVEST Data Definition</button>
                </div>
            </div>
        </div>
    </div>
</div>
