{% extends 'national_riskscape/base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <h4>Reset Password</h4>
    <p>Please enter your email address and click on the reset password button to recieve an email to reset your password.</p>
  </div>
  <div class="row" >
    <div class="col-md-8">
      <form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
        <input type="submit" value="Reset password">
      </form>
     </div>
   </div>
</div>
{% endblock %}
