{% extends "national_riskscape/app_base.html" %}

{% block main %}
  <div class="container">
      <div class="row">
          <div class="col-auto border p-3">
              Your password has been successfully changed
          </div>
      </div>
  </div>
{% endblock %}

