{% extends 'national_riskscape/app_base.html' %}

{% block title %}Change Password{% endblock %}

{% block main %}

<div class="container" id="change-password" >
  <div class="row">
    <h4>Change Password</h4>
    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly. </p>
  </div>
  <div class="row" >
	  <div class="col-md-8">
		  <form method="POST">
			  {% csrf_token %}
			  {{ form.as_p }}
			  <input type="submit" value="Change password">
		  </form>
	  </div>
  </div>
</div>
{% endblock %}
