{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>iVEST</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "national_riskscape/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "national_riskscape/css/national_riskscape.css" %}">
  <link rel="stylesheet" href="{% static "national_riskscape/css/national_riskscape.css" %}">
  <script type='text/javascript' src="{% static "national_riskscape/js/jquery-3.5.1.min.js" %}"></script>
  <script type='text/javascript' src="{% static "national_riskscape/js/bootstrap.bundle.min.js" %}"></script>
  {% block extra_media %}{% endblock %}
</head>
<body>
<div id="branding" class="container no-print">
    <div class="row">
        <div class="col-md-">
	    <a href="{% url 'home' %}" >
                <img src="{% static 'national_riskscape/img/iVEST_Icon_Gradient_sm.png' %}" class="">
	    </a>
        </div>
    </div>
</div>
  {% block content_wrapper %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  {% endblock %}
</body>
</html>

