{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>{{ site.name }} {% trans "admin approval" %}</title>
</head>

<body>
<p>
    {% blocktrans %}
    Your iVEST account is now approved. You can 
    {% endblocktrans %}
    <a href="http://{{site.domain}}{% url 'auth_login' %}">{% trans "log in." %}</a>
</p>
</body>

