{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>{{ site.name }} {% trans "registration" %}</title>
</head>

<body>
<p>
    {% blocktrans with site_name=site.name %}
    The following user ({{ user }}) has asked to register a iVEST account at
    {{ site_name }}.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
    To approve this, first login to iVEST and then 
    {% endblocktrans %}
    <a href="http://{{site.domain}}{% url 'registration_admin_approve' profile_id %}"> {% trans "click here" %}</a>.
</p>
</body>

</html>

